body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    padding-top:0;
}

.nailPolish{
    height: 100px;
    width: 100px;
    display: inline-block;
}